utils/mysrcs/locate_misjoints/locate_misjoints
utils/mysrcs/misfinder/misfinder_old.cpp
utils/mysrcs/listchrs/listchrs
utils/oldpipe.sh
utils/mysrcs/actnoise/actnoise
utils/mysrcs/chrpos/chrpos
utils/mysrcs/grabeachchr/grabeachchr
utils/mysrcs/n50/n50
utils/mysrcs/samectgpos/samectgpos
utils/mysrcs/splitinfastas/splitinfastas
utils/mysrcs/splitreads/splitreads
utils/mysrcs/writeselctg/writeselctg
utils/mysrcs/revertcompl/revertcompl
utils/mysrcs/mylibs
utils/mysrcs/mylibs/gzstream/COPYING.LIB
utils/mysrcs/mylibs/gzstream/Makefile
utils/mysrcs/mylibs/gzstream/README
utils/mysrcs/mylibs/gzstream/gzstream.C
utils/mysrcs/mylibs/gzstream/gzstream.h
utils/mysrcs/mylibs/gzstream/gzstream.o
utils/mysrcs/mylibs/gzstream/index.html
utils/mysrcs/mylibs/gzstream/libgzstream.a
utils/mysrcs/mylibs/gzstream/logo.gif
utils/mysrcs/mylibs/gzstream/test_gunzip
utils/mysrcs/mylibs/gzstream/test_gunzip.C
utils/mysrcs/mylibs/gzstream/test_gunzip.o
utils/mysrcs/mylibs/gzstream/test_gzip
utils/mysrcs/mylibs/gzstream/test_gzip.C
utils/mysrcs/mylibs/gzstream/test_gzip.o
utils/mysrcs/mylibs/gzstream/version
utils/mysrcs/misfinder/misfinder
test_ecoli
test_ecoli/forACT	
test_ecoli/forACT_testdata  
test_ecoli/forACT_testdata.tar.gz
